# ==========================================
# 1. Security and Sensitive Data (CRITICAL!)
# ==========================================
**/*password*
**/*secret*
**/*.pem
**/*.key
**/*.p12
**/*.csr
/etc/auth/

# ==========================================
# 2. Splunk App Specifics
# ==========================================
**/local.meta
**/local/*.log
**/var/
**/bin/__pycache__/
*.pyc
*.pyo
**/local/passwords.conf

# ==========================================
# 3. Deployment & System Rules
# ==========================================
*.tar
*.tgz
*.gz
*.swp
*.tmp

# ==========================================
# 4. OS Specific Files
# ==========================================
.DS_Store
.DS_Store?
._*
Thumbs.db